[workspace]
members = ["bxw_util", "bxw_world"]
exclude = ["vk-sync-rs-master"]

[package]
name = "ballxworld"
version = "0.1.0"
authors = ["Jakub Szewczyk (kubasz)"]
license = "GPL-3.0-only"
repository = "https://github.com/kubasz/ballxworld"
keywords = ["gaming", "games", "voxel"]
categories = ["games"]
edition = "2018"

[dependencies]
ash = "0.31"
vk-mem = "0.2"
vk-sync = { path = "./vk-sync-rs-master", version = "*" }
image = "0.23"
tokio = { version = "0.3", features = ["full"] }
serde = { version = "1.0", features = ["derive"] } # Errors in macros if only in bxw_util, hence it's repeated here
num_enum = "0.5"
log = "0.4"
log4rs = { version = "1.0.0", features = ["all_components", "console_writer", "background_rotation", "config_parsing", "toml_format"] }

bxw_util = { path = "bxw_util" }
bxw_world = { path = "bxw_world" }
bxw_terragen = { path = "bxw_terragen" }

[dependencies.sdl2]
version = "0.34"
features = []

[profile.dev]
opt-level = 2
debug-assertions = true
debug = 2

[profile.release]
debug = 1
