[workspace]
members = ["bxw_util", "bxw_world"]
exclude = ["vk-sync-rs-master"]

[package]
name = "ballxworld"
version = "0.1.0"
authors = ["kubasz"]
edition = "2018"

[dependencies]
ash = "0.31"
vk-mem = "0.2"
vk-sync = { path = "./vk-sync-rs-master", version = "*" }
image = "0.23"
bxw_util = { path = "bxw_util" }
bxw_world = { path = "bxw_world" }

# wren-sys = { path = "wren" }

[dependencies.sdl2]
version = "0.34"
features = []

[profile.dev]
opt-level = 2
debug-assertions = true
debug = 2

[profile.release]
debug = 1
