[package]
name = "ballxworld"
version = "0.1.0"
authors = ["Jakub Szewczyk <kubasz51@gmail.com>"]
edition = "2018"

[dependencies]
vulkano = "0.12.0"
vulkano-shaders = "0.12.0"
rand = "0.6.5"
conrod_core = "0.65.0"
conrod_vulkano = "0.65.0"

[dependencies.sdl2]
version = "0.32.2"
features = ["image", "mixer"]

[dependencies.cgmath]
version = "0.17.0"
features = ["swizzle"]

[profile.dev]
opt-level = 2
