[package]
name = "ballxworld"
version = "0.1.0"
authors = ["Jakub Szewczyk <kubasz51@gmail.com>"]
edition = "2018"

[dependencies]
vulkano = "0.14"
vulkano-shaders = "0.14"
rand = "0.7"
conrod_core = "0.67"
conrod_vulkano = "0.67"
toml_edit = "0.1"
image = "0.22"
noise = "0.5"
thread_local = "0.3"
rand_xoshiro = "0.3"
lru = "0.1"
smallvec = "0.6"

[dependencies.sdl2]
version = "0.32"
features = ["image", "mixer"]

[dependencies.cgmath]
version = "0.17"
features = ["swizzle"]

[profile.dev]
opt-level = 2
