[package]
name = "ballxworld"
version = "0.1.0"
authors = ["Jakub Szewczyk <kubasz51@gmail.com>"]
edition = "2018"

[dependencies]
ash = "0.29"
vk-mem = "0.1"
vk-sync = "0.1"
rand = "0.7"
toml_edit = "0.1"
image = "0.22"
noise = "0.5"
thread_local = "1.0"
rand_xoshiro = "0.4"
lru = "0.1"
smallvec = "0.6"
jemallocator = "0.3"
rayon = "1.1"
parking_lot = "0.9"
divrem = "0.1"
nalgebra-glm = "0.4"
num-traits = "0.2"

[dependencies.sdl2]
version = "0.32"
features = ["image", "mixer"]

[dependencies.nalgebra]
version = "0.18"

[profile.dev]
opt-level = 3
