[package]
name = "ballxworld"
version = "0.1.0"
authors = ["Jakub Szewczyk <kubasz51@gmail.com>"]
edition = "2018"

[dependencies]
ash = "0.29"
vk-mem = "0.2"
vk-sync = "0.1"
rand = "0.7"
toml_edit = "0.1"
image = "0.23"
noise = "0.6"
thread_local = "1"
rand_xoshiro = "0.4"
lru = "0.4"
smallvec = "1"
rayon = "1.1"
parking_lot = "0.10"
divrem = "0.1"
nalgebra-glm = "0.5"
num-traits = "0.2"
fnv = "1"
itertools = "0.8"
regex = "1.3"
wren-sys = { path = "wren" }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
jemallocator = "0.3"

[dependencies.sdl2]
version = "0.33"
features = ["bundled", "static-link"]

[dependencies.nalgebra]
version = "0.19"

[profile.dev]
opt-level = 3

[profile.release]
debug = true
